.masthead {
    background-size: cover;
    min-height: 90vh;
}

.abstrakt {
    background-size: cover;
    min-height: 60vh;
}

.midheady {
    background-size:cover;
    background-position: center;
    max-height: 60vh;
}

.tesmarin {
    margin-left: 350px;
    margin-right: 350px;
}

@media screen and (max-width: 1600px) {
    .tesmarin {
        margin-left: 150px;
        margin-right: 150px;
    }
  }

@media screen and (max-width: 1100px) {
    .tesmarin {
        margin-left: 50px;
        margin-right: 50px;
    }
  }


.timeline:before {
content: "";
background: var(--bs-secondary);
width: 5px;
height: 95%;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.timeline-item:nth-child(even) .timeline-content {
float: right;
padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
right: auto;
left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
left: -15px;
border-width: 10px 15px 10px 0;
border-color: transparent var(--bs-light) transparent transparent;
}
.timeline-item::after {
content: "";
display: block;
clear: both;
}
.timeline-content {
position: relative;
width: 45%;
padding: 10px 30px;
border-radius: 4px;
background: var(--bs-light);
}
.timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
right: -15px;
border-width: 10px 0 10px 15px;
border-color: transparent transparent transparent var(--bs-light);
}
.timeline-img {
width: 30px;
height: 30px;
background: var(--bs-secondary);
border-radius: 50%;
position: absolute;
left: 50%;
margin-top: 25px;
margin-left: -15px;
}
@media screen and (max-width: 768px) {
.timeline::before {
left: 50px;
}
.timeline .timeline-img {
left: 50px;
}
.timeline .timeline-content {
max-width: 100%;
width: auto;
margin-left: 70px;
}
.timeline .timeline-item:nth-child(even) .timeline-content {
float: none;
}
.timeline .timeline-item:nth-child(odd) .timeline-content::after {
content: "";
position: absolute;
border-style: solid;
width: 0;
height: 0;
top: 30px;
left: -15px;
border-width: 10px 15px 10px 0;
border-color: transparent #f5f5f5 transparent transparent;
}
}
